# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.31Days.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\dupui\Desktop\HIVER_2021\Jeux\31Days\.idea\.idea.31Days\.idea/dataSources/
/dataSources.local.xml
